:root {
    --color-negro-oscuro: #020104;  /* Negro muy oscuro */
    --color-gris-oscuro: #22232a;  /* Gris muy oscuro */
    --color-gris-cálido: #bebab4;  /* Gris cálido suave */
    --color-blanco-grisáceo: #f7f7f6; /* Blanco grisáceo */
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: var(--color-blanco-grisáceo);
    color: var(--color-gris-oscuro);
}

/* Encabezado */
.navbar {
    background-color: var(--color-negro-oscuro);
}
.navbar-light .navbar-nav .nav-link {
    color: var(--color-gris-cálido);
}
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--color-gris-cálido);
}

/* Hero Section */
#hero {
    background-color: var(--color-gris-oscuro);
    padding: 100px 0;
    color: #fff;
}
#hero h1 {
    font-size: 3.5rem;
}
#hero p {
    font-size: 1.25rem;
}

/* Sección de Servicios */
.services {
    background-color: var(--color-gris-cálido);
}
.services .card {
    background-color: var(--color-blanco-grisáceo);
}
.services .card-title {
    color: var(--color-gris-oscuro);
}
.services .card-text {
    color: var(--color-gris-cálido);
}

/* Sección Acerca de Nosotros */
.about {
    background-color: var(--color-gris-cálido);
    color: var(--color-gris-oscuro);
}
.about .btn-primary {
    background-color: var(--color-gris-oscuro);
    border: none;
}
.about .btn-primary:hover {
    background-color: var(--color-gris-cálido);
}

/* Testimonios */
.testimonials .testimonial-card {
    background-color: var(--color-blanco-grisáceo);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.testimonials h5 {
    color: var(--color-gris-cálido);
}

/* Sección de Contacto */
.contact {
    background-color: var(--color-gris-cálido);
}
.contact form {
    max-width: 600px;
    margin: 0 auto;
}
.contact input,
.contact textarea {
    background-color: var(--color-blanco-grisáceo);
    border: 1px solid var(--color-gris-oscuro);
}
.contact button {
    background-color: var(--color-gris-oscuro);
    border: none;
}
.contact button:hover {
    background-color: var(--color-gris-cálido);
}

/* Pie de página */
.footer {
    background-color: var(--color-negro-oscuro);
    color: #fff;
}
